<div class="container-narrow">
	<div class="row">
	  <div class="jumbotron">
	  	<h1>Find your super skilled developer TODAY!</h1>
		<p class="lead">With hire.me companies can hire skilled developers with just a few clicks</p>
	  	<h3>OR</h3>
	  	<p class="lead">if you're a <span class="label label-info lead">super skilled developer</span> looking for a brand new job... </p>	  	
		<a class="btn btn-large btn-success" href="../signup">Sign up today</a>
	  </div>
</div>