 <div class="container-narrow">
 	<div class="row">
	  	<div id="profile" class="jumbotron">
			<%= render :partial => 'profile' %>
		</div>
		<div class="jumbotron">
 			<%= link_to 'randomizit!', '../random', :remote => true, :class => 'btn btn-info' %>
 		</div>
	</div>
 </div>